i {
    font-size: 11px;
}

.logo {    
    height: 66px;    
}

.glyphicon {
    font-size: 10px;
}

#wrapper {    
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff;
    min-height: 400px;
}

#fileSelect {
    border: 1px #fff solid;
    width: 100%;
    height: 30px;
    background-color: #fff;
}

#socSystem {
    width: 73%;
    height: 28px;
}

#progressDiv {
    margin-top: 10px;
    display: none;
}

#resultDiv {    
    margin-top: 10px;
    display: none;
}

#emailForm {    
    display: none;
}

#calcForm {    
    display: none;
}

#validationErrorArea {
    display: none;
}

#emailAddress {
    width: 100%;
    height: 30px;
}

#queueResultDiv {
    margin-top: 10px;
    display: none;
}

.help {
    font-size: 12px;
}

/*style.css*/
#logos {
    height: 43px;
    background-color: #A90101;
}

#logos #left {
    float: left;
}

#logos #right {
    height: 43px;
    float: right;
}

#banners {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 66px;
}

#banners #left {
    float: left;
}

#banners #right {      
    float: right;
}

#portal-footer {
    line-height: 1.2em;
    margin: 2em 0em 1em 0em;
    padding: 1em 0em 1em 0em;
    text-align: center;
    background-color: #FFF;
    color: #333333;
    font-size: 79%;
}

#portal-footer a {
    text-decoration: none;
    color: #333333;
    border: none;
}

#portal-footer a:visited {
    color: #333333;
}

#portal-footer a:hover {
    text-decoration: underline;
}

.footerLinks {
    padding: .5em 0em 0em 0em;
}






