blockquote {
    font-size: 13px;
    margin-top: 10px;
}

label {
    font-size: 14px;
    font-weight:normal;
    font-style: normal;
    color: #555555;
}

.example {
    font-size: 11px;
}

.logo {    
    height: 66px;    
}

.glyphicon {
    font-size: 10px;
}

#wrapper {    
    
}

#btnInfo {
    background-image: url(info.png); /* 20px x 20px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: help;        /* make the cursor like hovering over an <a> element */
    height: 20px;           /* make this the size of your image */
    text-align: center;
    vertical-align: middle; /* align the text vertically centered */
}

.popover-title, .popover-content {
    min-width: 200px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    min-height: 400px;
}

.nav-tabs {
    margin-bottom: 0;
}

#fileSelect {
    border: 1px #fff solid;
    width: 100%;
    height: 30px;
    background-color: #fff;
}

#socSystem {
    width: 68%;
    height: 28px;
}

#progressDiv {
    margin-top: 10px;
    display: none;
}

#resultDiv {    
    margin-top: 10px;
    display: none;
}

#emailForm {    
    display: none;
}

#calcForm {    
    display: none;
}

#validationErrorArea {
    display: none;
}

#emailAddress {
    width: 100%;
    height: 30px;
}

#queueResultDiv {
    margin-top: 10px;
    display: none;
}

.help {
    font-size: 12px;
}

/*style.css*/
#logos {
    height: 43px;
    background-color: #A90101;
}

#logos #left {
    float: left;
}

#logos #right {
    height: 43px;
    float: right;
}

#banners {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 66px;
}

#banners #left {
    float: left;
}

#banners #right {      
    float: right;
}

#portal-footer {
    line-height: 1.2em;
    margin: 2em 0em 1em 0em;
    padding: 1em 0em 1em 0em;
    text-align: center;
    background-color: #FFF;
    color: #333333;
    font-size: 79%;
}

#portal-footer a {
    text-decoration: none;
    color: #333333;
    border: none;
}

#portal-footer a:visited {
    color: #333333;
}

#portal-footer a:hover {
    text-decoration: underline;
}

.footerLinks {
    padding: .5em 0em 0em 0em;
}






