table {
	border-collapse:collapse;
	border: 3px solid black;
}

td.data {
	font-size:small;
	border: 1px dashed black;
	padding-left: 5px;
	padding-right: 5px;
}

td.table_data {
	font-size:small;
	border: 0px;
	padding-left: 2px;
	padding-right: 2px;
	text-align:right;
}

th.table_data {
	font-size:small;
	border: 0px;
	padding-left: 2px;
	padding-right: 2px;
}

th.data {
	font-size:small;
	border: 1px dashed black;
	padding-left: 5px;
	padding-right: 5px;
	margin: 2px;
}

th.rj {
	text-align:right;
}

th.top {
	background-color:#B0B0B0;
	border-bottom: 2px solid black;
}

.highlight {
	background-color:yellow;
}