
.top_section {
	height: 400px;
}

.bottom_section {
	clear:left;
	height:400px;
}

.input_panel {
	position:relative;
	float:left;
	width:400px;
	background:#DDD;
	border: 1px #BBB solid;
}

div.input_accordion {
	background: #FFF url();
}

H3.input_accordion {
	background-color:;
	background: #DDD url();
}

.table_panel {
	float:left;
	width:300px;
	height:99%;
}


.graph_panel {
	height:99%;
}

.key_output_panel {
	float:left;
	width:300px;
	background-color:#faf;
	height:99%;
}

.tabbed_output_panel {
	height:99%;
}

.title {
	background-color:#aaa;
}

.indent {
	margin-left:30px;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:5px;
}

.highlight {
	background-color:yellow;
}

.col1 {
	padding:6px;
	text-align:right;
}

.maincard {
	width:800px;
	height:750px;
	border:2px black solid;
}

.highlight {
	background-color:yellow;
}


table.table_data {
	width:90%;
	background-color:white;
	border-collapse:collapse;
	border:1px #BBB solid;
	margin-left:20px;
	margin-right:20px;
	float:left;
}

table.output_data {
	background-color:white;
	border-collapse:collapse;
	border:2px black solid;
	margin-left:20px;
	margin-right:20px;
}

td.table_data {
	font-family:sans-serif;
	text-align:center;
}


th.table_data {
	font-family:sans-serif;
	padding:2px;
}

th.header {
	border-bottom: 1px #BBB solid;
	background-color:lightgrey;	
}

th.col1 {
	text-align:right;
}

tr.table_data_header {
	border-bottom: 1px black solid;
	background-color:#A0A0A0;
}

tr.line-above {
	border-top: 1px #BBB solid;
	
}

.main-title {
	text-align:center;
}
.PPV_stripe {
	border-bottom: 1px black solid;
	background-color:#B080FF;
}

.cNPV_stripe {
	border-bottom: 1px black solid;
	background-color:#8080FF;
}

.PPVcNPV_stripe {
	border-bottom: 1px black solid;
	background-color:#FFAA80;
}

.ProgramBased_stripe {
	border-bottom: 1px black solid;
	background-color:#FFB0D0;
}

.PPVBased_stripe {
	border-bottom: 1px black solid;
	background-color:#A0A0A0;
}

.SensitivityBased_stripe {
	border-bottom: 1px black solid;
	background-color:#808080;
}

.DominatedByRareDisease_stripe {
	border-bottom: 1px black solid;
	background-color:#F0F0F0;
}

.ui-accordion {
	overflow:hidden;
}

.ui-widget {
	font-size:12px;
}
