table {
	border-collapse:collapse;
}

.upload-pane{
	width: 250px;
	height:auto;
}

.parameters-pane{
	width: 250px;
	min-height:400px;
	height:auto;
	padding:5px;
}
.output-pane{
	vertical-align:top;
	width:auto;
	min-width:300px;
	min-height:400px;
	height:auto;
}

H2 {
	font-size:large;
	text-align:center;
}

.sub_select {
	float:left;
	padding:2px;
}

.table_title {
	padding:0px;
	margin:0px;
}

#banners {
		margin-top:15px;
}

.jumbotron {
		background-color: white;
}

body {
    color: #444;
    font-family: arial;
		line-height: 1.1;
		font-size: 12px;
		font-family: Arial,Helvetica,sans-serif;
}

.jumbotron p {
		font-size: 14px;
}

.plot-container {
		padding:200px 25px;
		margin-left:40px;
}
.tab-content {
    background: none repeat scroll 0 0 white;
    border-color: #d9d9d9;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 0 1px 1px;
    min-height: 600px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-e3zv{font-weight:bold}
