table {
	border-collapse:collapse;
}
.stage {
  font-weight:bold;
  font-size:large;
  margin-bottom: 10px;
  font-family:Helvetica;
}
.upload-pane{
	width: 250px;
	height:auto;
}

.parameters-pane{
	width: 250px;
	min-height:400px;
	height:auto;
	padding:5px;
}
.output-pane{
	vertical-align:top;
	width:auto;
	min-width:300px;
	min-height:400px;
	height:auto;
}
h2 {
	font-size:large;
	font-weight:bold;
}
h3 {
	font-size:normal;
}

h2.stage-header {
	font-weight:bold;
	font-style:normal;
	font-size:large;
	padding:0px;
	margin-top:-15px;
}

.sub_select {
}

.table_title {
	padding:0px;
	margin:0px;
}

#banners {
		margin-top:15px;
		height:110px;
}

.jumbotron {
	background-color: white;
}

.well {
	padding: 10px;
	min-height:641px;
	overflow: auto;
}

.form-horizontal .control-label {
  padding-top:0px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.form-group {
    margin-bottom: 0px;
}
.jpsurv-label-container {
   margin-bottom: 5px;
   clear:both;
 }
.jpsurv-label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
    float:left;
}
.jpsurv-label-content {
    margin-left:5px;
    max-width:90%;
    overflow:hidden;
    clear:both;
}
.jpsurv-button {
    margin-top: 5px;
    clear:both;
}

fieldset.jpsurv-fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #DAE4E8;
    margin-bottom:10px;
    display:none;
}

legend.jpsurv-legend {
  /*
  padding: 0.2em 0.5em;
  color:green;
  font-size:90%;
  */
    padding: 0.2em 0.5em;
    font-size:90%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
    border:1px solid #DAE4E8;
    margin-bottom:0px;
    width:auto;
}

.co-value-container {
  padding:5px 0px;
}


body {
    color: #444;
    font-family: arial;
	line-height: 1.1;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
  margin-bottom:0px;
  width:auto;
}

.jumbotron p {
		font-size: 14px;
}

hr.stage-separator{
	margin-top:-10px;
}

.plot-container {
	padding:200px 25px;
	margin-left:40px;
}

.tab-content {
    background: none repeat scroll 0 0 white;
    border-color: #d9d9d9;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 0 1px 1px;
    min-height: 600px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.tg  {border-collapse:collapse;border-spacing:0;border: 1px solid #bbbbbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border: 1px solid #bbbbbb;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border: 1px solid #bbbbbb;}
.tg .tg-e3zv{font-weight:bold;background-color:#aaaaaa;color:#444444}

.box {
    background: linear-gradient(to bottom, #feffff 0%, #feffff 50%, #e7f3fa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(1, 90, 129, 0.4);
    color: #666;
    margin-bottom: 18px;
    padding: 18px;
}

input[type="file"] {
    max-width: 90%;
}
