#logos {height:43px; background-color:#A90101;}

#logos #left {float:left;}

#logos #right {height:43px; float:right;}

#banners {height:43px;}

#dceg_logo {
	height:43px;
	background-image: url("images/DCEGBB-RightSide.png"); 
	width: 100%; 
	background-repeat: repeat-x; 
	background-size: 10px 43px;"
}

#banners #left {float:left;}

#banners #right {height:43px; float:right;}

#portal-footer {clear:both; border-top:1px solid black; line-height: 1.2em; margin: 2em 0em 1em 0em; padding: 1em 0em 1em 0em; text-align: center; background-color:#FFF; color: #333333; font-size: 79%;}

#portal-footer a {text-decoration: none; color: #333333; border: none;}

#portal-footer a:visited {color: #333333;}

#portal-footer a:hover {text-decoration: underline;}

.footerLinks {padding: .5em 0em 0em 0em;}

body {background-image:url('http://cbiit.nci.nih.gov/page_bg.jpg'); background-repeat:repeat-x; font-family: Arial, Helvetica, sans-serif; font-size:90%; color:#444; margin: 0px;}


