{% extends "layout.html" %}
{% block content %}

<div id="blockcontent">
  <div id="helpcolumn1">
    This application accepts data formatted in columns organized into
    <b><i>Count</i></b> and <b><i>Population</i></b> for a given period.
    An example set of data can be seen by clicking the <b><i>Example Data Tab</i></b>
    above. 
    <h3>Demonstration:</h3>
    <ol>
      <li>
        Click on the Help/Example Tab on the right 
      </li>
      <li>
        After noting the layout of the data, click on the button labled Load Example Data.
      </li>
      <li>
        Click on the Input tab on the right. Note that the example data has been loaded
        into the input table.
      </li>
      <li>
        Set the default values on the left as follows
          <br/><b>Name:</b> <i>Female Pancreas Cancer Data</i>
          <br/><b>Start Year:</b> <i>1993</i>
          <br/><b>Start Age:</b> <i>33</i>
          <br/><b>Interval:</b> <i>4 years</i>
      </li>
      <li>
        Click on the <i>Calculate</i> button on the bottom left of the Input tab.
      </li>
      <li>
        Click through the tabs on the left and right to observe results.
      </li>
    </ol>
  </div>
  <div id="helpcolumn2">
    <h4> Copy the below example data:</h4>
    <table id="exampleData-table" style="margin: 5px;"></table>
  </div>
</div>
<div id="glossary">
  A glossary of the key terms can be found here: <a href='/glossary'>Glossary</a>
</div>




{% endblock %}

