{% extends "layout.html" %}
{% block content %}

<!-- Uses JINJA2 templates. Please do all changes here. Then view the source of the rendered page on the web and copy changes to the root index.html -->

<div id="blockcontent">
<h2> Age Period Cohort Analysis</h2>
<p>Age-Period-Cohort analysis identifies patterns in cancer incidence or mortality rates from 
population-based <b><i> Count </i></b> (numerator) and <b><i> Population </i></b> (denominator) data. Often the data come 
from a Cancer Registry (e.g., <a href='http://seer.cancer.gov/registries/' target='seer'> SEER </a>)in the form of a table showing the numbers of cancer cases or cancer deaths 
(counts) and corresponding person-years at risk (population) for particular age groups and 
calendar time periods. In cancer research, the Age-Period-Cohort (APC) framework is a fundamental 
model to analyze these data. The APC Model includes <i> parameters </i> that describe the mathematical 
relationships between the <b><i>Rate</i></b> of cancer and attained age, calendar period (year of diagnosis), 
and birth cohort (year of birth). The cancer <b><i>Rate</i></b> is expressed as the number of cancers per 100,000 
persons at risk, which is calculated from the data using the formula: <b><i>(Count/Population) x 100,000.</i></b> </p>

<p>This web tool uses the inputted count and population data to fit the APC Model and returns a number of <b><i>Outputs.</i></b>
To use this tool the width of the age and period intervals must all be equal. When this is so the diagonals 
of the rate table represent birth cohorts.</p> 

<p> Visit the following sections to learn more about the APC web tool:</p>
<ul>
	<li><a href='#started'>Getting started</a> - Learn how to enter data into the tool, get answers to frequently 
	asked questions, and where to go for technical support.</li>
	<li><a href='#started'>Sample data</a> - Enter any of these sample datasets to see the tool in action. </li>
	<li><a href='#started'>What it does</a> - Find out what outputs are produced </li>
	<li><a href='#started'>Saving your results</a> - Find out how to save raw output as an Excel Workbook, R Workspace, or text file. </li>
	<li><a href='#started'>Reference</a> - Suggested reference for the APC web tool.</li>
	<li><a href='#started'></a> </li>
</ul>
<a name='started'></a><h3>Getting started </h3>
<p>Input data for the web tool consist of Count and Population data for particular age groups over calendar time, in the form of a matrix of rows with paired columns. Rows correspond to particular age groups and columns correspond to calendar time periods. The age and period intervals must all be equal, i.e. if 5-year age groups are used then 5-year calendar periods must also be used. 
The data can be input by copy-and-paste from an Excel worksheet or file upload of a comma-separated-values (csv) file. </p>

To input from Excel:
<ol>
	<li>Copy the paired columns of data you want to analyze from your spreadsheet, 
	right-click inside the empty matrix on the Input tab, and paste your selection.</li>
	<li>Fill in the information (meta-data) on the left hand side of the Input page:
	<ul>
		<li>Title - describe your data</li>
		<li>Description - add optional details </li>
		<li>Start Year - list the first calendar year of the first calendar period of your data, for example, use 1990 for the interval 1990 - 1994</li>
		<li>Start Age - list the first age of the first age group of your data, for example use 30 for the interval 30 - 34</li>
		<li>Interval - the width of the age and period intervals, for example use 1 for single-year data, 2 for two-year data, 5 for five-year data (e.g., 1990 - 1994), etc.</li>
	</ul>
	</li>
</ol>
</div> <!-- blockcontent -->

{% endblock %}

