.label {
	float:right;
}

.example-image {
	float:left;
}

.explanation {
	float:left;
	padding-left:15px;
	width:600px;
}

.reference_row {
	background-color: yellow;
}

td {
	text-align: left;
}

.top-header {
	text-align: center;
	background-color: #444;
	color: #FFF;
}

.header {
	background-color: #AAA;
	color: #444;
}

#output {
	/*width: 600px;*/
}

#inputdata {
	width: 500px;
}

h2 {
	background-color: #AAA;
	color: #444;
	padding: 5px;
}

button {
	padding:5px;
}

.prevalence_label {
	font-weight: bold;
	background-color: #AAA;
	color: #444;
	padding: 2px 25px 2px 25px;
}

.table-side {
	float:left;
	width:450;
}

.graphic-side {
	float:right;
	/*width:700;*/
	width:500px;
}



.bibliography {
	width: 950px;
	clear: both;
	float: left;
	margin: 50px;
}

.bib-author {
	float: left;
}

.bib-year {
	float: left;
}

.bib-title {
	float: left;
	font-style: italic;
}

.bib-journal {
	float: left;
}

.bib-ref {
	float: left;
}

.bib-pages {
	float: left;
}

.bib-doi {
	float: left;
}

.bibliography_entry {
	width: 300px;
}

.bibliography_link {
	width: 50px;
}

#status-bar {
    background: #CCC;
    display: block; 
	border: none;
	box-sizing: border-box;
	font: 18px arial,sans-serif;
	left: 0;
	margin: 10px;
	outline: none;
	padding: 10px;
	top: 2px;
	width: 100%;
	visibility: hidden;
	
}
.status-info {
	color:black
}
.status-error {
	color:red;
}
.variable-example {
	padding-left:10px;
	text-align: left;
}
a#add-test-data {
    text-decoration: none;
    padding: 0 10 0 240px;
}
/* mouse over link */
a#add-test-data:hover {
    text-decoration: underline;
}

/* selected link */
a#add-test-data:active {
    color: #0000FF;
}