#blockcontent {padding-top:25px;}

#logos {height:43px; background-color:#A90101;}

#logos #left {float:left;}

#logos #right {height:43px; float:right;}

#banners {height:43px;}

#banners #left {float:left;}

#banners #right {height:43px; float:right;}

#wrapper { width: 955px; margin: 0 auto;}

#login {width: 935px; margin: 0 auto; border: solid 1px #322e82; margin-top: 30px;}

#portal-footer {line-height: 1.2em; margin: 2em 0em 1em 0em; padding: 1em 0em 1em 0em; text-align: center; background-color:#FFF; color: #333333; font-size: 79%;}

#portal-footer a {text-decoration: none; color: #333333; border: none;}

#portal-footer a:visited {color: #333333;}

#portal-footer a:hover {text-decoration: underline;}

.footerLinks {padding: .5em 0em 0em 0em;}

.spacer {
padding-left:13px;
}

#inputDataForm label {
display:inline;
padding-right:15px;
margin-bottom:200px;
line-height:24px;
}

#inputDataForm input {
margin-bottom:15px;
}

#inputDataForm textarea {
margin-bottom:20px;
}
#inputDataForm.well {
height:425px;
}


table#NetDrift.bordered-table.zebra-striped.dataTable{
border:1px solid #303995;
}

table#NetDrift.bordered-table.zebra-striped.dataTable th{
background-color:#303995;
}

a.help {
	background-image:url('images/help.png');
	background-repeat:no-repeat;
	background-size:16px 16px;
	padding-left:22px;
	padding-bottom:5px;
	text-decoration:none;

}


hr.style-two {
    height: 5px;
    border: 0;
    margin-left:-20px;
    padding-right:302px;
    box-shadow: inset 0 4px 2px -4px black;


}
.rates {
padding-bottom:10px;
}
#helpcolumn1 {width: 600px; float: left;}
#helpcolumn2 {margin-left: 620px;}
#glossary {float:left;width:1000px;}



body {background-image:url('http://cbiit.nci.nih.gov/page_bg.jpg'); background-repeat:repeat-x; font-family: Arial, Helvetica, sans-serif; font-size:90%; color:#444; margin: 0px;}


