/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .header-logo {
        display:block;
        width: 296px;
        height: 52px;
        background: url('/common/images/dceg_28px_logo.png');
    }

    input + span {
    	display:block;
    	padding: 3px 0 10px 0;
    }

    .footer {
        padding:25px 0 0 16px;
    }

    .footer ul {
        text-align:left;
    }

    .footer ul li {
        display:block;
    }

    .footer .footer-spacer {
        display:none;
    }

    .footer .well {
        border: none;
        box-shadow:none;
        border-radius:0;
        margin-bottom:0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .header-logo {
        display:block;
        width: 389px;
        height: 72px;
        background: url('/common/images/dceg_36px_logo.png');
    }

    .footer {
        padding: 25px 0;
    }

    .footer ul {
        text-align:center;
    }

    .footer ul li {
        display:inline-block;
    }

    .footer .footer-spacer {
        display:inline-block;
    }

    .footer .well {
        background-image: none;
        border: none;
        box-shadow:none;
        background-color:transparent;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .header-logo {
        display: block;
        width: 608px;
        height: 100px;
        background: url('/common/images/dceg_54px_logo.png');
    }

    .form-horizontal .control-label {
        padding-top: 3px;
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

label {
	font-size:12px;
}

.example-data-table {
	font-size: 10px;
}

/* coefficients.tfoot {
 	display:none;
 }*/

td.data {
	text-align:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td.header {
	text-align:right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	text-align:center;
	background-color:#DDD;
}

.row-header {
	vertical-align:middle;
	width:50px;
	max-width:50px;
	background-color:#DDD;
}

th.header {
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.border-top {
	border-top: 1px solid #CCC;
}

.border-left {
	border-left: 1px solid #CCC;

}

.border-right {
	border-right: 1px solid #CCC;
}

.border-dotted-left {
	border-left: 1px dotted #CCC;
}

.border-dotted-right {
	border-right: 1px dotted #CCC;
}

.border-bottom {
	border-bottom: 1px solid #CCC;
}
.border-dotted-bottom {
	border-bottom: 1px dotted #CCC;
}

.dotted {
	border: 1px dotted #CCC;
}

#paste_here_image {
	position:absolute;
	filter: alpha(opacity = 50);
	opacity:0.5;
	overflow:auto;
    width:80%;
    height:65%;
}

.paste_area {
	position:absolute;
	background-color:green;
	overflow:hidden;
	filter: alpha(opacity = 00);
	opacity:0.0;
}

/* Used for jquery dialog to remove close botton */
.no-close .ui-dialog-titlebar-close {display: none }


#please-wait {
	background:yellow;
}

.vertical-text {
	text-align:center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  margin:170px 0px 0px 10px;
}

#sampledatatable #datavalues{
   width:700px;
}

#sampledatatable.functions tr, th{
  border-bottom:1px solid;
}

#blockcontent {padding-top:25px;}

.spacer {
padding-left:13px;
}

table#NetDrift.bordered-table.zebra-striped.dataTable{
border:1px solid #303995;
}

table#NetDrift.bordered-table.zebra-striped.dataTable th{
background-color:#303995;
}

hr.style-two {
    height: 5px;
    border: 0;
    margin-left:-20px;
    padding-right:302px;
    box-shadow: inset 0 4px 2px -4px black;
}

.rates {
    padding-bottom:10px;
}

#helpcolumn1 {width: 600px; float: left;}
#helpcolumn2 {margin-left: 620px;}
#glossary {float:left;width:1000px;}

#login {
        width: 935px;
        margin: 0 auto;
        border: solid 1px #322e82;
        margin-top: 30px;
}

.footer {
    bottom: 0;
    color: #444;
}
.footer ul li a {
    color: #444;
}

.division-logo {
    max-width: 60%;
    min-width: 400px;
}

.tab-content {
	padding: 10px;
	width: 100%;
	min-height: 250px;
	-webkit-overflow-scrolling: touch;
	background: white;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #d9d9d9;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}
.ui-widget{
	font-size:90%;
}


/* Modified Styles */
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 10px;
}

.well-nested {
    background: linear-gradient(to bottom, #feffff 0%, #feffff 50%, #e7f3fa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(1, 90, 129, 0.4);
}

label.label-bold {
    font-weight: bold;
    white-space:nowrap;
}

.input-small {
    width:75%;
}
.input-tiny{
    width:50%;
}

.input-sm {
    height: 22px;
}
select.input-sm {
    height: 29px;
}

.glyphicon-blue {
    color: #337ab7;
}

.cursor-pointer {
    cursor: pointer;
}

.offset {
    margin-bottom: 15px;
}

.top-offset {
    margin-top: 15px;
}

.nav-pills li {
    margin:5px;
}

.navbar-toggle {
    margin-top: 14px;
    margin-left: 10px;
    float:none;
}

/* Responsive Bootstrap Table hack needed for FF */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.wrappable {
    white-space: normal;
}

pre {
    line-height: 4em;
}


/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.loading {
	position: relative;
	display: block;
	width: 5em;
	height: 5em;
	margin: 0 auto;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.large.loading {
	font-size: 24px;
}

.loading:before,
.loading:after,
.loading > div:before,
.loading > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.loading:before {
	background: #555;
}

.loading:after {
	transform: rotate(-45deg);
	background: #777;
}

.loading > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.loading > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}
