#portal-footer {clear:both; border-top:1px solid black; line-height: 1.2em; margin: 2em 0em 1em 0em; padding: 1em 0em 1em 0em; text-align: center; background-color:#FFF; color: #333333; font-size: 79%;}

.example-image {
	float:left;
}

.explanation {
	float:left;
	padding-left:15px;
	width:600px;
}

.reference_row {
	background-color: yellow;
}

#maindiv {
	width: 1100px; 
	margin-left: auto; 
	margin-right: auto;
}

.dom_valref {
	display:none;
}

td.label {
	text-align: right;
}

.top-header {
	text-align: center;
	background-color: #444;
	color: #FFF;
}

.header {
	background-color: #AAA;
	color: #444;
}

#output {
	width: 500px;
}

#inputdata {
	width: 500px;
}

h2 {
	background-color: #AAA;
	color: #444;
	padding: 5px;
}

.prevalence_label {
	font-weight: bold;
	background-color: #AAA;
	color: #444;
	padding: 2px 25px 2px 25px;
}

.bibliography {
	width: 950px;
	clear: both;
	float: left;
	margin: 50px;
}

.bib-author {
	float: left;
}

.bib-year {
	float: left;
}

.bib-title {
	float: left;
	font-style: italic;
}

.bib-journal {
	float: left;
}

.bib-ref {
	float: left;
}

.bib-pages {
	float: left;
}

.bib-doi {
	float: left;
}

.bibliography_entry {
	width: 300px;
}

.bibliography_link {
	width: 50px;
}
