BODY {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; COLOR: #777; PADDING-TOP: 0px; font-size: 13px;}

.skip a, .skip a:hover, .skip a:visited {position: absolute; left:-999px; }

.skip a:active, .skip a:focus {display:block; left: 0; z-index:999; background: #fff; border: 1px solid #000; padding: 5px 5px 5px 5px;}

.hidden-anchor {position: absolute; left: -999px; width: 1px; display: block;}

A {COLOR: #777}
A:link {COLOR: #a90101}
A:visited {COLOR: #777}
A:active {COLOR: #a90101}
A:hover {COLOR: #a90101}

P {MARGIN-TOP: 0px; PADDING-TOP: 0px}
P.notoppadding {MARGIN-TOP: 0px; PADDING-TOP: 0px}

H1 {MARGIN-TOP: 0px; FONT-SIZE: 22px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 12px; COLOR: #5393ce; PADDING-TOP: 0px; font-type: arial, sans-serif}
h2 {font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; color: #223355; font-size: 14px; margin-bottom: 0; padding-bottom: 12px; padding-top:6px; margin-top: 0;}
H3 {MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 12px; COLOR: #4d4d4d; PADDING-TOP: 0px; font-type: arial, sans-serif}
UL.red-arrow {LIST-STYLE-IMAGE: url(../images/red-arrow.gif); LIST-STYLE-TYPE: circle}
UL.gray-bg {BACKGROUND: #f2f2f2; LIST-STYLE-IMAGE: url(../images/red-arrow.gif); LIST-STYLE-TYPE: circle}
HR {BORDER-LEFT-COLOR: #5393ce; BORDER-BOTTOM-COLOR: #5393ce; COLOR: #5393ce; BORDER-TOP-COLOR: #5393ce; HEIGHT: 1px; BACKGROUND-COLOR: #5393ce; BORDER-RIGHT-COLOR: #5393ce}

FORM {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}
SELECT {WIDTH: 100px; COLOR: #333333}
INPUT {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px}

#warning {margin: 15px; padding: 5px; color:red; font-family: Arial; font-size: 12px; font-weight: bold; border: 1px dashed #ca0202; background: #fff;}
#warning a:visited {color:red;}

a.fill-div {display: block; height: 100%; width: 100%; text-decoration: none;}

#center {width: 1000px; margin: 0 auto; padding: 0; text-align: left;}
#ncibanner {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 759px; PADDING-TOP: 0px; HEIGHT: 60px}
#ncibannerpopup {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 497px; PADDING-TOP: 0px; HEIGHT: 55px}
#bcrabanner {HEIGHT: 118px; margin-top: 10px; margin-bottom: 7px;}
#main {float: none; left: 0px; width: 650px; padding: 5px 0 0 0;}
#RightColumn {width: 480px;}
#RightColumnContent {padding-left: 15px; padding-right: 15px; margin-top: 10px; line-height: 20px;}

#ContentColumns {width: 1000px; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; line-height: 20px;}
#ContentColumnsText {padding: 5px; margin-top: 10px; line-height: 20px;}
#ContentColumnsLeft {Width: 480px; float: left; padding-top: 5px; paddig-right: 5px; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; line-height: 20px;}
#ContentColumnsRight {Width: 480px; float: right; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;}

#submit {color: #fff; font-size: 12px; font-weight: bold; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; width: 75px; height: 25px; -moz-border-radius: 5px; border-radius: 5px; background-color: #d92000;}
#reset {color: #d92000; font-size: 12px; font-weight: bold; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; width: 75px; height: 25px; -moz-border-radius: 5px; border-radius: 5px; background-color: #d0d0d0;}

#logos {height:43px; background-color:#A90101;}
#logosContainer {width: 1020px; margin: 0 auto;}
#logos #left {float:left;}
#logos #right {height:43px; float:right;}

nav {width: 1000px; margin-bottom: 10px; text-align: center;}
nav ul ul {display: none;}
	nav ul li:hover > ul {display: block;}
nav ul {width: 960px; background: #efefef; background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;}
	nav ul:after {content: ""; clear: both; display: block;}
	nav ul li {float: left;}
		nav ul li:hover {background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);}
			nav ul li:hover a {color: #fff;}
				nav ul li a {display: block; padding: 15px 40px; color: #757575; text-decoration: none; font-weight: bold;}
	nav ul ul {background: #5f6975; border-radius: 0px; padding: 0; position: absolute; top: 100%; width: 200px; text-align: left;}
		nav ul ul li {float: none; border-top: 1px solid #6b727c; border-bottom: 1px solid #575f6a; position: relative; }
			nav ul ul li a {padding: 15px 40px; color: #fff;}	
				nav ul ul li a:hover {background: #4b545f;}
		nav ul ul ul {position: absolute; left: 100%; top:0;}

#AccordionTitle {background-color: #C6E1EC; height: 20px; padding-left: 15px; padding-top: 5px; padding-bottom: 5px; font-size: 15px; font-weight: bold; color: #777777; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; border-bottom: 1px solid #a0a0a0; border-top: 1px solid #a0a0a0;}

.ac-container{width: 460px; margin: 10px auto 15px auto; text-align: left;}
.ac-container label{font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; padding: 5px 20px; position: relative; z-index: 20; display: block; height: 30px; cursor: pointer; color: #777; text-shadow: 1px 1px 1px rgba(255,255,255,0.8); line-height: 33px; font-size: 12px; font-weight: bold; background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);}
.ac-container label:hover{background: #fff;}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{background: #c6e1ec; color: #3d7489; text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);	
		box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{content: ''; position: absolute; width: 24px; height: 24px; right: 13px; top: 7px; background: transparent url(arrow_down.png) no-repeat center center;}
.ac-container input:checked + label:hover:after{background-image: url(arrow_up.png);}
.ac-container input{display: none;}
.ac-container article{background: rgba(255, 255, 255, 0.5); margin-top: -1px; overflow: hidden;	height: 0px; position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;}
.ac-container article p{color: #777; font-size: 14px; padding: 10px; text-shadow: 1px 1px 1px rgba(255,255,255,0.8);}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);}
.ac-container input:checked ~ article.ac-small{height: 140px;}
.ac-container input:checked ~ article.ac-medium{height: 180px;}
.ac-container input:checked ~ article.ac-large{height: 230px;}


#mainBoxContainer {width: 480px; background: #C6E1EC; margin-top: 15px; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #cbced2;}
#mainBoxTitle {padding: 5px 0 5px 20px; font-size: 15px; font-weight: bold; color: #777777; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; border-bottom: 1px solid #cbced2;}
#mainBoxContent {padding: 10px; background-color: #f4f6f9; border: 0px solid #ccc; -moz-border-radius: 0px 0px 0px 10px; border-radius: 0px 0px 10px 10px;}

#footer {CLEAR: both; BORDER-TOP: #cccccc 0px solid; MARGIN: 20px 0px 20px 0px; WIDTH: 1000px; PADDING-TOP: 35px; TEXT-ALIGN: center}
#footer {COLOR: #4d4d4d; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; font-size: 12px;}
#footer A {COLOR: #4d4d4d; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; font-size: 12px;}
#footer A:link {COLOR: #4d4d4d; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; font-size: 12px;}
#footer A:visited {COLOR: #4d4d4d; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; font-size: 12px;}
#footer A:active {COLOR: #4d4d4d; font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; font-size: 12px;}
#footer A:hover {COLOR: #980000}

