{% extends "layout.html" %}
{% block content %}

<!-- Uses JINJA2 templates. Please do all changes here. Then view the source of the rendered page on the web and copy changes to the root index.html -->

<div id="blockcontent">
  <div id="helpcolumn1">
    This application accepts data formatted in columns organized into
    <b><i>Count</i></b> and <b><i>Population</i></b> for a given period.  An example data matrix is shown on the right. 
    <h3>Demonstration:</h3>
    <ol>
      <li>
          Enter input values as follows
          <br/><b>Name:</b> <i>Breast Cancer </i>
          <br/><b>Description:</b> <i>SEER13, Females only, Whites only, age 33-85</i>
          <br/><b>Start Year:</b> <i>1993</i>
          <br/><b>Start Age:</b> <i>33</i>
          <br/><b>Interval:</b> <i>4 years</i>
      </li>
      <li>
          Click on the <i>Browse</i> button load in a cvs file that contains data formatted like the example data matrix (shown on the right).  Content of the csv file would be copied into the input table under the <i>Input</i> tab.
          <br>&nbsp;&nbsp;Or</br>
          Copy and paste the example data matrix (shown on the right) to the input table under the <i>Input</i> tab.
      </li>
      <li>
          Click on the <i>Calculate</i> button below the input table and wait for the calculation to complete.

      </li>
      <li>
          Click through the tabs on the right to observe results
      </li>
    </ol>
  </div>
  <div id="helpcolumn2">
    <h4> Example Count and Population Data</h4>
    <table id="exampleData-table" style="margin: 5px;"></table>
  </div>
<div id="glossary">
  A glossary of the key terms can be found here: <a href='/glossary'>Glossary</a>
</div>




{% endblock %}

